.title{
  font-weight: 550;
  margin: 3%;
}

h5{
  font-weight: 700;
}

.table-filters{
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: 4%;
}

.add-task-btn{
  padding: 7px;
  border-radius: 12px;
  /* margin-left: 25%; */
 margin-bottom: 1%;
  width: 150px;
  margin-left: auto;
}

.task-table{
  border: 1px solid lightgray;
  border-collapse: collapse;
  margin-left:3%;;
}

.txt-color{
  background-color: rgb(255, 238, 0);
  text-align: center;

}

.up-chevron{
  color: red;
}

.down-chevron{
  color: green;
}

.medium{
  color: orange;
}





























