*{ padding: 0;
  margin: 0;
  box-sizing: border-box;

}


body{
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;

  /* background-color: red; */
}


.col{
  color: #008000;
}





.mainCon{

  height: 70%;
  background-color: rgba(128, 128, 128, 0.089);
  /* border: green solid; */
  width: 40%;

  /* text-align: center;
 margin: 0% auto; */


}

.centerCon{
  /* background-color: red; */
  width: 80%;
  margin: 0 auto;
}



h3{
  /* width: 100%; */
  font-weight: 720;
  margin-top: 8%;


}

.sUP{
 margin-bottom: 7%;
 font-weight: 620;
}




button{
  /* padding: 2px; */

  width: 8rem;
}
/*


.signCon{
  width: 100%;

  display: flex;

  justify-content: center;

  align-items: center;
  gap: 1rem;
  margin-top: 18px;

} */


.footCon{
  display: flex;
 justify-content: end;

 align-items: center;
}


.acct{
  font-size: .70em;
  font-weight: 700;
}


.log{
  color: #008000;
  font-size: .70em;
  margin-left: 2%;
  margin-right: 4%
}




.dangerBlock{
  color: red;
  font-size: xx-small;

}
