
<body>
  <div class="lanPage">
    <h1>Welcome to <span class="col">TASK</span>IT</h1>

    <p>This platform allows you to keep track of tasks professionally, domestically, and more. Sign up today to get work! </p>

    <div class="bGround">
      <img class="mainPic" src= "" alt="">

    </div>

    <p>Create an account to get started today</p>

    <div class="signCon">

      <button class="btn btn-success">SignUp</button>
    <p>or</p>
    <a routerLink="/main"><button class="btn btn-primary">login</button> </a>

    </div>
  </div>

</body>
