<!-- <p>kanban-board works!</p> -->
<!--
<body>
  <h3>hel</h3>
</body> -->

<body>
  <app-sidebar></app-sidebar>

  <div class="kanCon">
    <h2 [ngStyle]="{'font-weight': 700}">KanBan</h2>

  <div class="headCon">

    <h4>To Do</h4>
    <h4>In Progress</h4>
    <h4>Done</h4>
  </div>

    <div class="container kaFle">

      <div class="toDo">
        <div *ngFor="let task of tasks" draggable="true" class="test">
          <div class="kan-title">
            <p>Title: {{task.title}} </p>
            <p>To Do🔽</p>
          </div>
          <p>Priority: {{ task.priority }}</p>
          <p>Due Date:{{ task.due }}</p>
        </div>
      </div>

      <div class="inProg">
      </div>

      <div class="done">
      </div>

    </div>
  </div>

</body>





