<h2 class="title">Task List</h2>

<div class="table-filters">
  <h5>Filters:</h5>
  <form action="">
    <select name="status" id="status">
      <option>Status</option>
    </select>
</form>
<form action="">
  <select name="status" id="status">
    <option>Date</option>
  </select>
</form>
<form action="">
  <select name="status" id="status">
    <option>Priority</option>
  </select>
</form>
<button class="btn btn-success add-task-btn">Add New Task </button>
</div>

<table class="table task-table table-responsive">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Due Date</th>
      <th scope="col">Priority</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">1</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>blah</td>
    </tr>
    <tr>
      <td scope="row">2</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>blah</td>
    </tr>
    <tr>
      <td scope="row">3</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>blah</td>
    </tr>
  </tbody>
</table>
