

<body>
<!-- <div [hidden]="isHidden" class="overlay">  </div> -->
  <!-- <div [hidden]="isHidden" class="overlay">  </div>
  <div [ngStyle]="{opacity: getOpacity}" class="new-task-box">

    <svg (click)="exitTask()" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
     </svg>



  <form action="taskForm">


    <h4 class="add-title">Add a New Task</h4>
    <div class="task-details">

      <input class="title-task form-control" formControlName="title" type="text" placeholder="title">
      <input class="date-task form-control" formControlName="date" type="date" name="" id="" placeholder="Due Date">

      <textarea class="description-task form-control" fromControlName="description" name="" id=""  rows="6" placeholder="Description"></textarea>

      <select class="priority-task form-control" formControlName="priority" name="Priority" id="Priority">
        <option value="Priority">--Priority--</option>
        <option value="High">High</option>
        <option value="Medium">Medium</option>
        <option value="Low">Low</option>
      </select>

      <select class="status-task form-control" formControlName="status" name="Status" id="Status">
        <option value="Status">--Status--</option>
        <option value="In Progress">In Progress</option>
        <option value="Not Started">Not Started</option>

      </select>
       <button class="btn btn-success">Create</button>
      <button class="btn btn-info">Cancel</button>
      <button (click)="createData()" class="btn btn-success">Create</button>
    </div>

  </form>
</div> -->






  <!-- <div class="edit-task-box">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
     </svg>
     <form action="">


       <h4 class="add-title">Edit Task</h4>
       <div class="task-details">

      <input class="title-task" type="text" placeholder="title">
      <input class="date-task" type="date" name="" id="" placeholder="Due Date">

      <textarea class="description-task" name="" id=""  rows="" placeholder="Description"></textarea>

      <select class="priority-task" name="Priority" id="Priority">
        <option value="Priority">--Priority--</option>
        <option value="High">High</option>
        <option value="Medium">Medium</option>
        <option value="Low">Low</option>
      </select>

      <select class="status-task" name="Status" id="Status">
        <option value="Status">--Status--</option>
        <option value="In Progress">In Progress</option>
        <option value="Not Started">Not Started</option>

      </select>

      <button class="btn btn-info">Cancel</button>
      <button class="btn btn-success">Create</button>
    </div>

  </form>
</div> -->



  <div [hidden]="isHidden3" class="delete-task-box">
    <svg (click)="exitTask" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
     </svg>


<div class="delete-con">


  <h2 class="delete-title">Are you sure you want to delete task <span></span>? &nbsp;</h2>
  <div class="task-details">


    <button class="del-btn btn btn-info">Cancel</button>
    <button class=" del-btn btn btn-danger">Delete</button>
  </div>
</div>

</div>











    <div class="side-container">
      <div class="bar">
      <h3><span class="text-success">TASK</span>IT</h3>
      <button class="btn btn-success task-list-btn">Task List</button>
        <div *ngFor="let user of users" class="info-con">
          <!-- <img class="photo1" src="https://images.unsplash.com/photo-1524117074681-31bd4de22ad3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1160&q=80"
            height=30px width=30px alt=""> -->
            <img class="photo1" src="{{user.imagePath}}"
            height=30px width=30px alt="">
            <div name-email-con>

              <!-- <p class="name">Name</p> -->
              <p  class="name">{{user.name}}</p>
              <!-- <p class="email">Email@email.com</p> -->
              <p class="email">{{user.email}}</p>

            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
              <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="main">
        <app-main (addIn)="addInTask()"></app-main>
      </div>



</body>
