
<!-- <router-outlet></router-outlet> -->
<body>

    <div class="side-container">
      <div class="bar">
      <h3><span class="text-success">TASK</span>IT</h3>
      <div class="btn-con">
        <a routerLink="/main"> <button class="btn btn-light task-list-btn">Task List</button></a>
        <a routerLink="/kanban"><button class="btn btn-success task-list-btn">KanBan</button> </a>
        <a routerLink="/im-bored"><button class="btn btn-success task-list-btn">I'm Bored</button> </a>
      </div>
        <div *ngFor="let user of users" class="info-con">
          <!-- <img class="photo1" src="https://images.unsplash.com/photo-1524117074681-31bd4de22ad3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1160&q=80"
            height=30px width=30px alt=""> -->
            <img class="photo1" src="{{user.imagePath}}"
            height=30px width=30px alt="">
            <div name-email-con>

              <!-- <p class="name">Name</p> -->
              <p  class="name">{{user.name}}</p>
              <!-- <p class="email">Email@email.com</p> -->
              <p class="email">{{user.email}}</p>

            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
              <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg>
          </div>
        </div>
      </div>

      <!-- <div class="main">
        <app-main></app-main>
      </div> -->



  </body>
